.ipynb_checkpoints/
        rnaseq_project/.ipynb_checkpoints/
        rnaseq_project/data/.ipynb_checkpoints/
        rnaseq_project/scripts/.ipynb_checkpoints/
        rnaseq_project/scripts/charts/.ipynb_checkpoints/
        rnaseq_project/slurm/.ipynb_checkpoints/
